.game-wrapper {
  display: flex;
  justify-content: center;
  background-color: #000;
}

.panel {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}

.box {
  display: inline-block;
  border: 2px solid #333;
  width: 120px;
  height: auto;
}

.overlay-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #333;
  width: 300px;
  height: 600px;
}

.overlay-button {
  font-size: medium;
  text-align: center;
  padding: 10px 20px;
}

.tetris-grid {
  display: inline-block;
  border: 2px solid #333;
}

.tetris-row {
  display: flex;
}

.tetris-cell {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  box-sizing: border-box;
}

.tetris-cell.I {
  background-color: rgb(0, 255, 255);
}

.tetris-cell.J {
  background-color: rgb(0, 0, 255);
}

.tetris-cell.L {
  background-color: rgb(255, 165, 0);
}

.tetris-cell.O {
  background-color: rgb(255, 255, 0);
}

.tetris-cell.S {
  background-color: rgb(0, 255, 0);
}

.tetris-cell.T {
  background-color: rgb(128, 0, 128);
}

.tetris-cell.Z {
  background-color: rgb(255, 0, 0);
}